@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Young';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 150%;
}

body {  
    width: 100%;
    height: 100vh;
    
    font-family: 'Outfit';
    background-color: hsl(30, 54%, 90%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 64px;
}

.recipe-page {
    width: 100%;
    max-width: 750px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    border-radius: 24px;

    background-color: white;
}

main img {
    width: 100%;
    margin-bottom: 32px;
    border-radius: 14px;
}

.mobile-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.recipe-title {
    font-family: 'Young';
    font-size: 38px;
    font-weight: 400;

    color: hsl(24, 5%, 18%);
}

.recipe-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 28px;

    color: hsl(30, 10%, 34%);
}

.prep-time {
    display: flex;
    flex-direction: column;

    gap: 16px;
    padding: 32px;
    border-radius: 18px;

    background-color: hsl(330, 100%, 98%);
}

.prep-title {
    color: hsl(332, 51%, 32%);
    font-size: 20px;
}

.prep-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-inline: 28px;
}

.prep-list li {
    font-size: 16px;
    font-weight: 400;
    padding-inline-start: 20px;

    color: hsl(30, 10%, 34%);
}

.prep-list li::marker {
    color: hsl(332, 51%, 32%);
}

.prep-list li span, .instructions-list li span {
    font-weight: 600;
    color: hsl(30, 10%, 34%);
}

.title {
    color: hsl(14, 45%, 36%);
    font-family: 'Young';
    font-size: 28px;
    font-weight: 500;
}

.ingredients,
 .instructions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-block: 40px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.ingredients-list,
 .instructions-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-inline-start: 20px;
}

.ingredients-list li, 
 .instructions-list li {
    font-size: 16px;
    padding-inline-start: 20px;
   color: hsl(30, 10%, 34%);
}

.ingredients-list li::marker,
 .instructions-list li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.nutrition {
    display: flex;
    flex-direction: column;
    padding-block-start: 20px;
}

.nutrition-description {
    font-size: 16px;
    margin-block: 14px;
    color: hsl(30, 10%, 34%);
}

.calories-row,
 .carbs-row,
  .protein-row {
    display: flex;
    padding: 18px 24px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.fat-row {
    display: flex;
    padding: 18px 24px;
}

.label {
    flex: 1;
    font-weight: 500;
    font-size: 16px;
    color:  hsl(30, 10%, 34%);
}

.value {
    flex: 1;
    font-weight: 600;
    font-size: 16px;
    color: hsl(14, 45%, 36%);
}

@media screen and (max-width: 750px) {
    main {
        padding-block: 0;
    }

    .recipe-page {
        border-radius: 0;
        padding: 0;
    }

    main img {
        border-radius: 0;
    }

    .mobile-container {
        padding-inline: 28px;
    }
    
    .recipe-title {
        font-size: 32px;
        line-height: 100%;
    }

    .prep-time {
        padding: 20px;
    }

    .recipe-description,
     .prep-list li,
      .ingredients-list li,
       .instructions-list li,
        .nutrition-description,
         .label,
          .value {
        font-size: 16px;
        color: hsl(30, 10%, 34%);
    }

    .value {
        color: hsl(14, 45%, 36%);
    }

    .prep-time,
     .prep-list,
      .ingredients-list,
       .instructions-list {
        gap: 16px;
    }

    .prep-list li span,
     .instructions-list li span,
      .value {
        font-weight: 700;
    }

    .calories-row, .carbs-row, .protein-row {
        padding: 14px 18px;
        border-bottom: 1px solid hsl(30, 18%, 87%);
    }

    .fat-row {
        padding: 14px 18px;
    }

}
